<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>{{ 'SEARCH.title' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar color="primary">
            <ion-title size="large">{{ 'SEARCH.title' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="content">
        <div class="filter-container">
            <div class="filter-menu-container">
                <ion-list class="filter-index-list">


                    <ion-item (click)="searchIndex = i;" lines="none" detail="false" [class.selected]="searchIndex == i" *ngFor="let p of searchIndexes; let i = index">

                        <ion-label color="medium">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            {{ p.text }}
                        </ion-label>
                    </ion-item>


                </ion-list>
            </div>
            <div class="filters-container">
                <ion-item *ngIf="searchIndex == 0">
                    <ion-input [(ngModel)]="searchIndexes[0].value"></ion-input>
                </ion-item>
            </div>
        </div>
        <div class="submit-container">
            <ion-button class="submit-buts">submit</ion-button>
            <ion-button class="submit-buts" color="warning" (click)="this.goback();">cancel</ion-button>
        </div>
    </div>
</ion-content>