<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'REGISTER.title' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar color="primary">
            <ion-title size="large">{{ 'REGISTER.title' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <ion-thumbnail style="display: inline-block;">
            <img src="/assets/logo/farmer.png">
        </ion-thumbnail>
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'person-outline'" [md]="'person-sharp'"></ion-icon>
            <ion-input pattern=".{1,}" placeholder="{{ 'REGISTER.name' | translate }}" [(ngModel)]="name"></ion-input>
        </ion-item><br>
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'location-outline'" [md]="'location-sharp'"></ion-icon>
            <ion-input type="number" pattern="\d{6}" placeholder="{{ 'REGISTER.pincode' | translate }}" [(ngModel)]="pincode"></ion-input>
        </ion-item><br>
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'pin-outline'" [md]="'pin-sharp'"></ion-icon>
            <ion-input pattern=".{1,}" placeholder="{{ 'REGISTER.area' | translate }}" [(ngModel)]="area"></ion-input>
        </ion-item><br>
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'call-outline'" [md]="'call-sharp'"></ion-icon>
            <ion-label>+</ion-label>
            <ion-input type="tel" inputmode="tel" pattern="\d{10,12}" placeholder="{{ 'REGISTER.phoneno' | translate }}" [(ngModel)]="phoneno"></ion-input>
            <ion-button color="light" (click)="sendOTP();">{{ 'REGISTER.send_otp' | translate }}</ion-button>
        </ion-item><br>
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'keypad-outline'" [md]="'keypad-sharp'"></ion-icon>
            <ion-input type="number" pattern="\d{6}" placeholder="{{ 'REGISTER.enter_otp' | translate }}" [(ngModel)]="otp"></ion-input>
        </ion-item><br>
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'key-outline'" [md]="'key-sharp'"></ion-icon>
            <ion-input type="password" pattern="[a-zA-Z\d@_#$%^&]{5,}" placeholder="{{ 'REGISTER.password' | translate }}" [(ngModel)]="password"></ion-input>
        </ion-item><br>
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'key-outline'" [md]="'key-sharp'"></ion-icon>
            <ion-input type="password" pattern="[a-zA-Z\d@_#$%^&]{5,}" placeholder="{{ 'REGISTER.password_re' | translate }}" [(ngModel)]="password_re"></ion-input>
        </ion-item><br>
        <ion-button color="primary" (click)="register();">{{ 'REGISTER.register' | translate }}</ion-button>
    </div>
</ion-content>