<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button (click)="close();">
            </ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'PROFILE.CHANGE_PASSWORD.title' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="profile-contant">
        <ion-thumbnail style="display: inline-block;">
            <img src="/assets/logo/farmer-mobile.png">
        </ion-thumbnail>
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'key-outline'" [md]="'key-sharp'"></ion-icon>
            <ion-input type="password" pattern="[a-zA-Z\d@_#$%^&]{5,}" placeholder="{{ 'PROFILE.CHANGE_PASSWORD.new_password' | translate }}" [(ngModel)]="newPassword">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'key-outline'" [md]="'key-sharp'"></ion-icon>
            <ion-input type="password" pattern="[a-zA-Z\d@_#$%^&]{5,}" placeholder="{{ 'PROFILE.CHANGE_PASSWORD.new_password_re' | translate }}" [(ngModel)]="newPasswordRe">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'key-outline'" [md]="'key-sharp'"></ion-icon>
            <ion-input type="password" pattern="[a-zA-Z\d@_#$%^&]{5,}" placeholder="{{ 'PROFILE.CHANGE_PASSWORD.old_password' | translate }}" [(ngModel)]="oldPassword">
            </ion-input>
        </ion-item>
        <br>
        <ion-button (click)="save();">{{ 'PROFILE.CHANGE_PASSWORD.save' | translate }}</ion-button>
    </div>
</ion-content>