<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button (click)="close();">
            </ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'LOGIN.FORGOT_PASSWORD.title' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="profile-contant">
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'keypad-outline'" [md]="'keypad-sharp'"></ion-icon>
            <ion-input type="number" placeholder="{{ 'LOGIN.FORGOT_PASSWORD.enter_otp' | translate }}" [(ngModel)]="otp"></ion-input>
            <ion-button (click)="sendOTP();" color="light">{{ 'LOGIN.FORGOT_PASSWORD.resend_otp' | translate }}</ion-button>
        </ion-item>
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'key-outline'" [md]="'key-sharp'"></ion-icon>
            <ion-input type="password" placeholder="{{ 'LOGIN.FORGOT_PASSWORD.new_password' | translate }}" [(ngModel)]="newPassword"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon color="tertiary" slot="start" [ios]="'key-outline'" [md]="'key-sharp'"></ion-icon>
            <ion-input type="password" placeholder="{{ 'LOGIN.FORGOT_PASSWORD.new_password_re' | translate }}" [(ngModel)]="newPasswordRe"></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="save();">{{ 'LOGIN.FORGOT_PASSWORD.save' | translate }}</ion-button>
    </div>
</ion-content>