ion-menu-button,
ion-toolbar ion-button {
    color: var(--ion-color-primary-contrast);
}

ion-back-button {
    display: block;
}

ion-toolbar ion-title {
    display: inline-block;
}

#container {
    text-align: center;
    position: relative;
    width: 100%;
}

ion-content .content {
    position: relative;
    height: 100%;
    width: 100%;
}

ion-card-subtitle ion-icon {
    margin-right: unset;
    margin-inline-end: 4px;
}

.nothing_here {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--ion-color-medium);
}